<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>defineTheTabbar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94CFF8911D70104900D1A41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94CFF8AA1D70104900D1A41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94CFF8B51D70104A00D1A41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
